<h1 class="text-center mt-4">Category Info</h1>
<h1 class="text-center mt-4">Name: <%= @category.name%></h1>

<% if logged_in? && current_user.admin? %>
  <div class="text-center mt-4">
    <%= link_to "Edit Category", edit_category_path(@category), class: "btn btn-outline-dark " %>
  </div>
<% end %>

<%= render "articles/article_list" %>